@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
body{
  display: grid;
  background: #E0E0E0;
  align-items: center;
  justify-content: center;
  margin: 0;
}